html,body
{
  min-height: 100%;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
  font: 12px/1 Asap,Helvetica,Sans-Serif;
}

.navbar-fixed-top {
  z-index: 200;
  opacity: 0.84;
}
.navbar-fixed-top:hover {
  opacity: 1.0;
}

#map_canvas {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inside 0 0 6px 6px rgba(255, 255, 255, 0.72);
  -webkit-transform-origin: 50% 50%;
}
#string {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  z-index: 99999;
}

#direction {
  z-index: 150;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90px;
  height: 60px;
  margin-top: -60px;
  margin-left: -45px;
  background-image: url(/images/direction.png);
  background-size: 90px 60px;
  -webkit-transform-origin: center bottom;
}

#location {
  z-index: 250;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 16px;
  height: 16px;
  background-image: url(/images/location.png);
  background-size: 16px 16px;
  margin-left: -8px;
  margin-top: -8px;
}
